.popup {
    background-color: #EDF5FF;
    width: 25%;
    margin: 10% auto;
    border-radius: 10px;
    padding: 1%;
    outline: none;
    font-family: 'Lato';
}

.popup .title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.popup .title .closeBtn {
    width: 10%;
}

.popup .title h1 {
    font-weight: 400;
}

.popup .deatils {
    padding-top: 5%;
    padding-left: 2%;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;
}

.popup .deatils p {
    padding-top: 5%;
}

.popup .divBtn {
    padding-top: 10%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.popup .okBtn {
    background-color:  #670BFF;
    border: none;
    border-radius: 5px;
    color: #EDF5FF;
    font-weight: 300;
    font-size: 110%;
    padding: 1% 3%;
}