.privatePage{
    background-color: #F8F8F8;
}
.privatePageConatiner {
    display: flex;
    flex-direction: row;
}
.personalDeatilsContainer{
    background-color: #FFFFFF;
    width: 30%;
    height: 80%;
    margin-left: 10%;
    margin-bottom: 100px;
}
.litMenu {
    width:77%;
    height: 10%;
    margin-top: 3%;
    border: 0.1px solid #670BFF;
    display: flex;
    flex-direction: row;
}
.litMenu Button{
    margin-top: 1%;
    margin-left: 7%;
    margin-bottom: 1%;
}
.progress {
    width: 77%;
    height: 50%;
    background-color: #FFFFFF;
    margin-top: 3%;
}
.progress h1{
    margin: 3%;
}
.progress Button {
    height: 40%;
    width: 30%;
    margin: 1%;
}